.show-card-container{
    margin: auto;
}

.center-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem !important;
}

#form{
    margin-bottom: 0rem !important;
}

