#background-game{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../img/BackgroundGame.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: right;
    position: absolute;
    top: 0;
}

#content-rules-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-start-game{
    margin-top: 2rem;
}
