#background-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../img/BackgroundGame.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: right;
  position: absolute;
  top: 0;
}

#content-rules-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#rules-game {
  padding: 0rem 3rem;
  font-size: 1.3rem;
  text-align: center;
  color: black;
}

.levels-game {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: Fruta;
  text-transform: lowercase;
}

.button-start-game {
  margin-top: 2rem;
}