.form-switch .form-check-input:checked {
    height: 1.5rem;
    width: 3rem;
    margin-right: 1rem;
    margin-top: 0rem;
}

.form-switch .form-check-input {
    height: 1.5rem;
    width: 3rem;
    margin-right: 1rem;
    margin-top: 0rem;
}

.confirm-delete-card{
    margin-bottom: 2rem; 
    margin-top: 1rem;
}

.form-check-input:checked {
    background-color: rgb(66, 85, 90);;
    border-color: #a4aab3;
}