.show-all-cards-container {
  margin-left: 8.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
