.container-content-navbar {
  height: 6rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 0rem 1.5rem;
  left: 5%;
  box-shadow: rgba(99, 99, 99, 0.377) 0px 2px 8px 0px;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  background-color: transparent !important;
  position: fixed;
  z-index: 10;
  top: 0;
}

.nav-link {
  font-family: Georgia;
  color: white !important;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.navbar-brand {
  font-family: Fruta;
  color: white !important;
  font-size: 1.5rem;
}

.dropdown-menu {
  border: none;
  background-color: #9cd3e1;
  box-shadow: rgba(99, 99, 99, 0.377) 0px 2px 8px 0px;
  padding-bottom: 0px;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-divider {
  height: 0;
  border: none !important;
}
