.container-content-navbar{
    height: 5rem;
    background-color: rgba(3, 37, 0, 0.281) !important;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.container-itens-navbar{
    width: 100%;
    font-size: larger;
}

.dropdown-divider {
    border: 1px solid rgb(228, 206, 7) !important;
}