@font-face {
  font-family: Fruta;
  src: url("./fonts/Blueberry\ .ttf");
}

* {
  font-family: Georgia;
  color: white;
  font-size: 1rem;
}

.form-select * {
  color: #000;
}

body {
  background-image: url("./img/Background.png");
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 6rem;
}

.container-content {
  margin: auto;
  margin-top: 4rem;
  box-shadow: rgba(99, 99, 99, 0.377) 0px 2px 8px 0px;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  width: 60%;
  padding: 4%;
}

.wrongAnswer {
  border: 1px solid red !important;
  box-shadow: 0 1px 8px red !important;
}

#link {
  font-weight: bold;
  color: aliceblue;
  margin-top: 1rem;
}

.button-submit {
  margin: auto;
  margin-top: 2rem;
  width: 14rem !important;
}

#column {
  display: flex;
  flex-direction: column;
}
